<section>
  <header>
      <a href="#" class="logo"><img src="../../assets/img/logo.png" class="logo" width="100%" alt=""></a>
      <ul>
          <li><a href="#">Mua Crypto</a></li>
          <li><a href="#">Thị trường</a></li>
          <li><a href="#">Giao dịch</a></li>
          <li><a href="#">Phái sinh</a></li>
          <li><a href="#">Tài chính</a></li>
          <li><a href="#">NFT</a></li>
      </ul>
  </header>
  <div class="content">
      <div class="textbox">
          <h2>It's not fake coin <br><span> It's real</span></h2>
          <p>Amandine Blier, Communication Manager at Citéco and a jury member of the IMAGINE CURRENCY photo contest, shares her vision of the future of money. Discover her questions, her doubts, but also her favourite ideas
            Amandine Blier, Communication Manager at Citéco and a jury member of the IMAGINE CURRENCY photo contest, shares her vision of the future of money. Discover her questions, her doubts, but also her favourite ideas
          </p>
      </div>
      <div class="imgbox">
          <img src="../../assets/img/2.png" class="bitcoin" alt="">
      </div>
  </div>

</section>
<footer>

</footer>
